trigger: none

pool: poolgame

steps:
- task: PowerShell@2
  displayName: Biome Lint
  continueOnError: true
  inputs:
    targetType: 'inline'
    script: |
      cd "$(System.DefaultWorkingDirectory)"
      Write-Host "Current folder: $(pwd)"
      Write-Host "Listing project root:"
      ls

      Write-Host "Listing src:"
      ls src

      Write-Host "Running Biome..."
      npx biome lint src


# - task: NodeTool@0
#   displayName: TooL Nodejs
#   inputs:
#     versionSource: 'spec'
#     versionSpec: '16.x'
# - task: PowerShell@2
#   displayName: npm install
#   inputs:
#     targetType: 'inline'
#     script: 'npm install'
# - task: PowerShell@2
#   inputs:
#     targetType: 'inline'
#     script: 'npm run build -y'
