trigger: none

pool: poolgame

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      npm install -g markdownlint-cli "$(System.DefaultWorkingDirectory)"
      markdownlint "$(System.DefaultWorkingDirectory)"

# - task: PowerShell@2
#   inputs:
#     targetType: 'inline'
#     script: |
#       npm add -D stylelint stylelint-config-standard "$(System.DefaultWorkingDirectory)" 
#       npx stylelint "**/*.css" "$(System.DefaultWorkingDirectory)"

# - task: PowerShell@2
#   displayName: Run Biome Lint
#   inputs:
#     targetType: inline
#     script: |
#       $biome = "$(Agent.ToolsDirectory)\biome-win32-x64.exe"
#       $src   = "$(System.DefaultWorkingDirectory)\src"

#       & $biome --version
#       & $biome lint $src

     
# - task: PowerShell@2
#   displayName: Static Analysis (SonarQube)
#   inputs:
#     targetType: 'inline'
#     script: |
#       sonar-scanner `
#         -D sonar.host.url=http://localhost:9000 `
#         -D sonar.token=sqp_afeeb01fc73b76405c934e2d6a541722cb55567e `
#         -D sonar.projectKey=ui-project

# - task: NodeTool@0
#   displayName: TooL Nodejs
#   inputs:
#     versionSource: 'spec'
#     versionSpec: '16.x'
# - task: PowerShell@2
#   displayName: npm install
#   inputs:
#     targetType: 'inline'
#     script: 'npm install'
# - task: PowerShell@2
#   inputs:
#     targetType: 'inline'
#     script: 'npm run build -y'
