trigger: none

pool: local pipeline

stages:
#   - stage: Build
#     displayName: Build Airtifect
#     jobs:
#       - job: NodeJsInstall
#         steps:
#         - task: NodeTool@0
#           inputs:
#             versionSource: 'spec'
#             versionSpec: '16.x'

#         - task: PowerShell@2
#           inputs:
#             targetType: 'inline'
#             script: |
#               npm install
#               npm run build

  - stage: Linting
    displayName: Biome
    jobs:
      - job: Biome
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'Invoke-WebRequest -Uri "https://github.com/biomejs/biome/releases/download/%40biomejs%2Fbiome%402.3.11/biome-win32-x64.exe" -OutFile "biome.exe"'