trigger: none

pool: poolgame

steps:
- task: PowerShell@2
  inputs:
    targetType: inline
    script: |
      npm install -g stylelint stylelint-config-standard
      stylelint "$(System.DefaultWorkingDirectory)/src/**/*.css"

# - task: PowerShell@2
#   inputs:
#     targetType: 'inline'
#     script: |
#       npm install -g @biomejs/biome
#       biome lint "$(System.DefaultWorkingDirectory)/src"

# - task: NodeTool@0
#   displayName: TooL Nodejs
#   inputs:
#     versionSource: 'spec'
#     versionSpec: '16.x'
# - task: PowerShell@2
#   displayName: npm install
#   inputs:
#     targetType: 'inline'
#     script: 'npm install'
# - task: PowerShell@2
#   inputs:
#     targetType: 'inline'
#     script: 'npm run build -y'
