trigger: none

pool: poolgame

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      Invoke-WebRequest `
          -Uri "https://github.com/biomejs/biome/releases/download/%40biomejs%2Fbiome%402.3.8/biome-win32-x64.exe" `
          -OutFile "$(Agent.ToolsDirectory)\biome-win32-x64.exe"
           biome-win32-x64.exe --version
    

# - task: PowerShell@2
#   displayName: Static Analysis (SonarQube)
#   inputs:
#     targetType: 'inline'
#     script: |
#       sonar-scanner `
#         -D sonar.host.url=http://localhost:9000 `
#         -D sonar.token=sqp_afeeb01fc73b76405c934e2d6a541722cb55567e `
#         -D sonar.projectKey=ui-project

# - task: PowerShell@2
#   inputs:
#     targetType: 'inline'
#     script: |
#       npm init -y
#       npm install stylelint stylelint-config-standard --save-dev

# - task: NodeTool@0
#   displayName: TooL Nodejs
#   inputs:
#     versionSource: 'spec'
#     versionSpec: '16.x'
# - task: PowerShell@2
#   displayName: npm install
#   inputs:
#     targetType: 'inline'
#     script: 'npm install'
# - task: PowerShell@2
#   inputs:
#     targetType: 'inline'
#     script: 'npm run build -y'
