trigger: none

pool: poolgame

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'biome lint $(System.DefaultDirectory)/src'


# - task: NodeTool@0
#   displayName: TooL Nodejs
#   inputs:
#     versionSource: 'spec'
#     versionSpec: '16.x'
# - task: PowerShell@2
#   displayName: npm install
#   inputs:
#     targetType: 'inline'
#     script: 'npm install'
# - task: PowerShell@2
#   inputs:
#     targetType: 'inline'
#     script: 'npm run build -y'
